{%  extends 'base.html' %}

{% block contr %}
<caption><h2 align="center">Список контрагентов</h2></caption>
<table border="2" bordercolor="#000000" cellspacing="0" cellpadding="5" align=center text-align="center">
    <tr align="center">
        <th>Номер</th>
        <th>Название организации</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Адресс</th>
        <th>Офис</th>
    </tr>
    {% for item in contr %}
    <tr align="center">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>
            {{ item.contr_surname }}
            {{ item.contr_name }}
            {{ item.contr_patronymic }}
        </td>
        <td>{{ item.telephone }}</td>
        <td>{{ item.adress }}</td>
        <td>{{ item.apartment }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}